<body class="m-5">
  <%= simple_form_for [@list] do |f|%>
    <%= f.input :name %>
    <%= f.submit "Submit", class:"btn btn-flat" %>
  <% end %>
</body>

<div class="mt-5">
  <div><%= link_to "Create a List!", new_list_path(@list), class:"btn btn-flat" %></div>
</div>