.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #020004;
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    background: #41d50f;
    color: white;
  }